apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: masum140/expence:frontend-v1
        ports:
        - containerPort: 5000
        env:
        - name: USER_SERVICE
          value: http://user-service:5000
        - name: EXPENSE_SERVICE
          value: http://expense-service:5000
        - name: REPORT_SERVICE
          value: http://report-service:5000

